body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: darkblue;
    color: whitesmoke;
}

.container{ 
    border: 2px double #3a86ff;
    width: 600px;
    padding: 0.5em 1em;
    margin: 0 auto;
    background-color: rgb(68, 66, 152);
}
.favourites{
    
    border-color: rgba(110, 117, 134, 0.528) ;
    
}
.header{ 
    margin: 0.2em 0;
    text-align: center;
    font-size: 50px;
}


.description{
    width: 98%;
    color: white;
}
.cupcake_box{
    margin:4px 0;
    border:2px solid #3a86ff;
    padding: 0 2em;
    border-radius: 2% 10%;

}
.cupcake_box:hover {
    
    background-color: royalblue;
    border: 2px solid darkblue;
    
  }

  a:active{
    color: blue;
  }
  a:hover{
    color: darkblue;
  }
.captions{
    font-weight: bolder;
    font-style: italic;
    color:black;
}
 .flex1 {
     flex : 1 ;
    
}

.flex2 {
    flex : 2;
}

.pl1 {
    padding-left: 1em;
};

.img {
    /*position: absolute;
    align-self: flex-start;
    height: auto; 
    max-width: 100%;
    max-height: fit-content;
    margin: 0 auto;*/
    width: 50;
    display: block; /* Ensures that the image is a block element */
    margin: auto; /* Sets the margin to auto on both sides */
  

}
.cupcake1 {
    background-color: #4c00ff;
}
.cupcake2 {
    background-color: #07e3fb6b;
}
.cupcake3 {
    background-color: #173077;
}

